<section class=" grid grid-cols-5 ">
    <div *ngFor=" let item of items " class=" h-full | w-full ">
        <div class=" m-3 ">
            <article (click)=" getArtist( item ) " class=" p-3 | overflow-hidden | bg-darken-light hover:bg-darken-hover transition duration-300 | rounded-sm | shadow-lg ">
                <a href="#" class=" shadow-2xl ">
                    <img alt="Placeholder" [ngClass]=" { 'rounded-full': item.artists == undefined, 'rounded-sm': item.artists != undefined } " style="min-width:174px;height:175px;" [src]=" item.images | noimage">
                </a>
                <div class=" flex flex-col items-start justify-start | leading-tight | py-3">
                    <h1 class="text-sm">
                        <a class="no-underline hover:underline | text-white text-no-wrap whitespace-nowrap font-bold ">
                            <span>{{ item.name | truncate: '19' }}</span>
                        </a>
                    </h1>
                    <p *ngIf="item.album_type " class=" text-dark-500 text-sm font-semibold">
                        {{ item.artists[0].name }}
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>